{% extends 'masterpage.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        {% if form.errors %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% for f in form %}
            <div class="row">
                <div class="col">
                    {{ f.label }}
                    {{ f }}
                </div>
            </div>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success btn-lg" type="submit">Cadastrar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
