<!-- Navigation -->
<ul class="navbar-nav">
    <li class="nav-item  active ">
        <a class="nav-link " href="{% url 'core:home_view' %}">
            <i class="ni ni-tv-2 text-primary"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  active " href="{% url 'core:user_profile' %}">
            <i class="ni ni-single-02 text-yellow"></i> User profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{% url 'core:tables_view' %}">
            <i class="ni ni-bullet-list-67 text-red"></i> Tables
        </a>
    </li>
</ul>